<div class="row">
    <div class="col-lg-12">
        <div class="panel-footer">
            版权归个人所有----------Chongqin Science and technology Univer<br /> 2018-04-27
        </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/wangEditor.min.css">
    <script src="js/wangEditor.min.js"></script>
    <script type="text/javascript" src="js/index.js" ></script>
    <script type="text/javascript" src="js/myEditor.js"></script>
</div>