<div class="modal" id="loading" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" height="200px">
            <div class="modal-body">
                <div class="container-fluid" id="interestPage">
                    <div class="container" id="main">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addTopic" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" id="interestPage">
                    <div class="container" id="main">
                        <div id="like">
                            <h2>发起新的话题

                            </h2>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="topic_title">话题标题</label>
                                <input type="text" class="form-control" id="topic_title" placeholder="请输入话题标题">
                            </div>
                            <div class="form-group">
                                <label for="topic_describe">话题描述</label>
                                <textarea class="form-control" id="topic_describe" rows="3" placeholder="请输入话题描述"></textarea>
                            </div>
                            <button type="button" id="topic_addTopic" class="btn btn-primary mb-2">发布</button>
                        </form>
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="tip">

</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/wangEditor.min.css">
<script src="/js/wangEditor.min.js"></script>
<script src="https://cdn-hangzhou.goeasy.io/goeasy.js​"></script>

<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/index.js" ></script>
<script type="text/javascript" src="/js/addlike.js"></script>
<script type="text/javascript" src="/js/myEditor.js"></script>
<script type="text/javascript" src="/js/mainContent-home.js"></script>
<script type="text/javascript" src="/js/fllow.js"></script>
<script type="text/javascript" src="/js/follow_user.js"></script>
<script type="text/javascript" src="/js/hotPerson.js"></script>
<script type="text/javascript" src="/js/topic.js"></script>
<script type="text/javascript" src="/js/myArticle.js"></script>
<script type="text/javascript" src="/js/commentsPage.js"></script>
<script type="text/javascript" src="/js/privateLetter.js"></script>
<script type="text/javascript" src="/js/tongzhi.js"></script>
<script type="text/javascript" src="/js/subscribe.js"></script>