<!--顶部操作栏-->
<ul class="nav nav-tabs" id="myTabR">
    <p class="logo">doubleS</p>
    <li class="active">
        <a data-toggle="tab" onclick="getIndex();" class="btn btn-primary active home_btn " href="#home"><i class="iconfont icon-shouye"></i> 首页</a>
    </li>
<!--    <li class="active">
        <a data-toggle="tab" onclick="getIndex();" class="btn btn-primary active home_btn " href="#article"><i class="iconfont icon-shouye"></i> 推荐</a>
    </li>-->
    <li>
        <a data-toggle="tab" onclick="HotTopic();" class="btn btn-primary messages" href="#messages"><i class="iconfont icon-huati"></i> 话题</a>
    </li>
    <li>
        <a data-toggle="tab" onclick="getHotPerson()" class="btn btn-primary settings" href="#settings"><i class="iconfont icon-daren1"></i> 达人</a>
    </li>
    <li><input type="search" class="search_text"/></li>
   <!-- <li><button type="button" class="btn btn-primary btn-sm search_btn">搜索</button></li>-->
</ul>