<div class="tab-pane " id="home">
    <div id="my-editor">
        <div id="div1" class="toolbar" >
        </div>
        <div id="div2" class="text" > <!--可使用 min-height 实现编辑区域自动增加高度-->

        </div>
        <div class="row mt-2">
            <div class="col">
                <button type="button" id="sub-article" class="btn btn-primary btn-sm ">发布</button>
            </div>
        </div>

    </div>
    <div id="tip">

    </div>
    <div id="user-article-container" class="container mt-3">
        <div id="user-article-content" class="row">
            <div id="user-article-content-img" class="col-sm-2">
                <img src="img/chuangyi_meiyuan_yusan-003.jpg" width="50px" height="50px">
            </div>
            <!--<div class="col-sm-1">-->

            <!--</div>-->
            <div id="user-article-content-text" class="col-sm-10">
                <div class="card article-card myCard">
                    <a href="#" class="article-link">
                        <div class="card-body">
                            <div class="card-title">
                                这里是标题
                            </div>
                            <p class="card-text">这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
                            <div class="my-underline"></div>
                            <div class="little-tag">
                                <a href="#">#hhh</a>,
                                <a href="#">#bbb</a>,
                                <a href="#">#ccc</a>
                            </div>
                            <div class="little-tip">
                                <ul>
                                    <li>
                                        <a href="#">删除</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="subComment(this)">评论</a>
                                    </li>
                                    <li><span><i class="iconfont icon-icons- my-icon-size"></i> 10</span></li>
                                    <li><span class="article-time">2018-4-30 12:34:22</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <div class="my-shadow"></div>
                    <div id="article-comment">
                        <form class="mt-3 ">
                            <div class="row">
                                <div class="col-7 col-lg-9 col-sm-7">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col col-lg col-sm">
                                    <button type="button" class="btn btn-primary ">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div id="comment-list">
                            <ul class="list-group my-comment-ul list-group-flush">

                                <li class="list-group-item">
                                    <div class="user-comment">
                                        <div class="user-comment-img comment-img">
                                            <img src="img/default.jpg" width="20px" height="20px" />
                                        </div>
                                        <div class="comment-content user-comment-text ">
                                            <input name="user_id" value="id" type="hidden">
                                            <div class="">
                                                <a href="#">我有一头没毛驴</a>
                                                案件看来你查了深刻房间号爬萨克拉了重新加葱姜冲破爱心每次期末彷佛请教项目，。cma.jcqpoc聚餐擦肩擦上呈现出 hckajcanmc.mx,.cmqpofjqwpomncas,.c 了智能操作性能出去  刺客列传接触器产品吗氨茶碱从啊爱吃唉加快了将长期往返啊从【
                                            </div>


                                        </div>
                                        <div class="btn-reply">
                                            <a href="javascript:void(0);" onclick="">回复</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="user-comment">
                                        <div class="user-comment-img comment-img">
                                            <img src="img/default.jpg" width="20px" height="20px" />
                                        </div>
                                        <div class="comment-content  user-comment-text">
                                            <input name="user_id" value="id" type="hidden">
                                            <div >
                                                <a href="#">我有一头没毛驴</a>&nbsp回复&nbsp<a href="#">我有一头小毛驴</a>
                                                案件看来你查了深刻房间号爬萨克拉了重新加葱姜冲破爱心每次期末彷佛请教项目，。cma.jcqpoc聚餐擦肩擦上呈现出 hckajcanmc.mx,.cmqpofjqwpomncas,.c 了智能操作性能出去  刺客列传接触器产品吗氨茶碱从啊爱吃唉加快了将长期往返啊从【
                                            </div>
                                        </div>
                                        <div class="btn-reply">
                                            <a href="#" >回复</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>