<!--个人操作栏-->
<div class="col-lg-3" id="myLeft">


    <div class="tab-content" id="mainContent1">

        <div class="tab-pane active" id="myPage">
            <div class="card">
                <div class="left_top">
                    <img class="card-img-top rounded-circle " id="user_img" src="${session.user.userimg}" alt="Card image cap">
                    <h5 class="nicname_title text-center"><a href="../article/getMyArticle?userId=${session.user.userId}">${session.user.nickname}</a></h5>
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title text-center">JacksonWZ</h5>-->

                    <ul class="nav  nav-tabs flex-column" id="myTab4" role="tablist">
                        <li class="nav-item user_list">
                            <a class="nav-link  " id="fllow-tab" onclick="showFollow()" data-toggle="tab" href="#fllow" role="tab" aria-controls="fllow" aria-selected="false"><i class="iconfont icon-gongsisvgtubiaozongji20"></i> 我的关注 <!--<span class="badge badge-primary badge-pill my-number">100</span>--></a>
                        </li>
                        <li class="nav-item user_list">
                            <a class="nav-link" id="fans-tab" onclick="showFans()" data-toggle="tab" href="#fans" role="tab" aria-controls="fans" aria-selected="false"><i class="iconfont icon-fensi1"></i> 我的粉丝 <!--<span class="badge badge-primary badge-pill my-number">25</span>--></a>
                        </li>
                        <li class="nav-item user_list">
                            <a class="nav-link" id="article-tab"  data-toggle="tab"  onclick="getMyArticle('${session.user.userId}')" target="_blank" role="tab" aria-controls="article" aria-selected="false"><i class="iconfont icon-wenzhang"></i> 我的动态<!--<span class="badge badge-primary badge-pill my-number">73</span>--></a>
                        </li>
                        <li class="nav-item user_list">
                            <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" onclick="getMyLike()" role="tab" aria-controls="like" aria-selected="false"><i class="iconfont icon-icons-"></i> 我的喜欢  <!--<span class="badge badge-primary badge-pill my-number">222</span>--></a>
                        </li>
                        <li class="nav-item user_list">
                            <a class="nav-link" id="information-tab" data-toggle="tab" href="#information" onclick="getComments()" role="tab" aria-controls="information" aria-selected="false"><i class="iconfont icon-xiaoxi1"></i> 我的消息  <!--<span class="badge badge-primary badge-pill my-number">222</span>--></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="others">其它相关信息</div>
    </div>
</div>