<div class="tab-pane" id="settings">
    <div class="row hot_person">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <div class="card-header hot_person_header">
                        <a href="#"><img src="img/img-got701.jpg" alt="..." class="rounded-circle"><span class="hot_nickname">果酱红</span></a>
                        <button type="button" class="btn btn-secondary btn-sm fllow_btn1" >关注</button>

                    </div>

                    <div class="card-text">
                        <div class="hot_person_img">
                            <div class="row">
                                <img src="img/chuangyi_meiyuan_yusan-003.jpg" alt="..." class="rounded-0">
                                <img src="img/57cfde37e5304.jpg" alt="..." class="rounded-0">
                                <img src="img/img-got702.jpg" alt="..." class="rounded-0">
                                <img src="img/chuangyi_meiyuan_yusan-003.jpg" alt="..." class="rounded-0">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    标签达人
                </a>
                <a href="#" class="list-group-item list-group-item-action">运动</a>
                <a href="#" class="list-group-item list-group-item-action">男神</a>
                <a href="#" class="list-group-item list-group-item-action disabled">女神</a>
                <a href="#" class="list-group-item list-group-item-action">美食</a>
                <a href="#" class="list-group-item list-group-item-action">萌宠</a>
                <a href="#" class="list-group-item list-group-item-action disabled">摄影</a>
                <a href="#" class="list-group-item list-group-item-action">绘画</a>
                <a href="#" class="list-group-item list-group-item-action">电影</a>
                <a href="#" class="list-group-item list-group-item-action disabled">音乐</a>
            </div>
        </div>
    </div>
</div>