<div class="tab-pane active" id="article">
    <div class="card article-card">
        <a href="#" class="article-link">
            <div class="card-body">
                <div class="card-title">
                    这里是标题
                </div>
                <p class="card-text">这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
                <div class="my-underline"></div>
                <div class="little-tag">
                    <a href="#">#hhh</a>,
                    <a href="#">#bbb</a>,
                    <a href="#">#ccc</a>
                </div>
                <div class="little-tip">
                    <ul>
                        <li>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="subComment(this)">评论</a>
                        </li>
                        <li><span><i class="iconfont icon-icons- my-icon-size"></i> 10</span></li>
                        <li><span class="article-time">2018-4-30 12:34:22</span></li>
                    </ul>
                </div>
            </div>
        </a>
        <div class="my-shadow"></div>
        <div id="article-comment">
            <form class="mt-3 ">
                <div class="row">
                    <div class="col-9 col-lg-10 col-sm-9">
                        <input type="text" id="reply-input" class="form-control" placeholder="First name">
                    </div>
                    <div class="col col-lg col-sm">
                        <button type="button" id="btn-reply-input" class="btn btn-primary ">Submit</button>
                    </div>
                </div>
            </form>
            <div id="comment-list">
                <ul class="list-group my-comment-ul list-group-flush">
                    <li class="list-group-item">
                        <div class="user-comment">
                            <div class="user-comment-img comment-img">
                                <img src="img/default.jpg" width="20px" height="20px" />
                            </div>
                            <div class="comment-content">
                                <input name="user_id" value="id" type="hidden">
                                <div class="">
                                    <a href="#">我有一头没毛驴</a>
                                    案件看来你查了深刻房间号爬萨克拉了重新加葱姜冲破爱心每次期末彷佛请教项目，。cma.jcqpoc聚餐擦肩擦上呈现出 hckajcanmc.mx,.cmqpofjqwpomncas,.c 了智能操作性能出去  刺客列传接触器产品吗氨茶碱从啊爱吃唉加快了将长期往返啊从【
                                </div>


                            </div>
                            <div class="btn-reply">
                                <a href="javascript:void(0);" onclick="reply(this)">回复</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="user-comment">
                            <div class="user-comment-img comment-img">
                                <img src="img/default.jpg" width="20px" height="20px" />
                            </div>
                            <div class="comment-content">
                                <input name="user_id" value="id" type="hidden">
                                <div >
                                    <a href="#">我有一头没毛驴</a>&nbsp回复&nbsp<a href="#">我有一头小毛驴</a>
                                    案件看来你查了深刻房间号爬萨克拉了重新加葱姜冲破爱心每次期末彷佛请教项目，。cma.jcqpoc聚餐擦肩擦上呈现出 hckajcanmc.mx,.cmqpofjqwpomncas,.c 了智能操作性能出去  刺客列传接触器产品吗氨茶碱从啊爱吃唉加快了将长期往返啊从【
                                </div>
                            </div>
                            <div class="btn-reply">
                                <a href="#" >回复</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card article-card">
        <a href="#" class="article-link">
            <div class="card-body">

                <div class="card-text">
                    <div id="user_content_img">
                        <img src="img/img-got701.jpg" alt="" class="rounded-0">
                        <span class="badge badge-secondary">2</span>
                    </div>
                    <div id="user_context">

                        <p>这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内<br />容这里是内容
                            这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内<br />容这里是内容这里是内容这里是内容这里是内容这里是内容
                            这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里<br />是内容这里是内容这里是内容这里是内容这里是内容这里是内容
                            这里是内容这里是内<br />容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内<br />容这里是内容这里是内容这里是
                            内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里<br />是内容这里是内容这里是内容这里是内容这里是内
                            容这里是内容这里是内容这里是内<br />容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内<br />容这里是内容这里是内
                            容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里<br />是内容这里是内
                            容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
                    </div>
                </div>
                <div class="my-underline"></div>
                <div class="little-tag">
                    <a href="#">#hhh</a>,
                    <a href="#">#bbb</a>,
                    <a href="#">#ccc</a>
                </div>
                <div class="little-tip">
                    <ul>
                        <li>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <a href="#">评论</a>
                        </li>
                        <li><span><i class="iconfont icon-icons- my-icon-size"></i> 10</span></li>
                        <li><span class="article-time">2018-4-30 12:34:22</span></li>
                    </ul>

                </div>
            </div>
        </a>
    </div>
    <div class="card article-card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card article-card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>