<!--达人-->

<div class="tab-pane" id="settings" style="background-color: white;">
    <div class="row hot_person">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-3">
            <div class="list-group hplab">
                <a href="#" class="list-group-item list-group-item-action active">
                    标签达人
                </a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00002')" class="list-group-item list-group-item-action">运动</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00004')" class="list-group-item list-group-item-action">男神</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00005')" class="list-group-item list-group-item-action">女神</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00009')" class="list-group-item list-group-item-action">美食</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00003')" class="list-group-item list-group-item-action">萌宠</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00001')" class="list-group-item list-group-item-action">摄影</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00006')" class="list-group-item list-group-item-action">绘画</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00007')" class="list-group-item list-group-item-action">电影</a>
                <a href="javascritp:void(0);" onclick="getHotPersonTopic('test_00008')" class="list-group-item list-group-item-action">音乐</a>
            </div>
        </div>
    </div>
</div>
