<!--我的关注-->
<div class="tab-pane " id="fllow">

    <div class="row">
        <div class="card-deck" >
            <div class="card">
                <img class="card-img-top"  src="img/img-got701.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname" >精致的猪猪女孩
                        <button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button>
                    </p><hr />
                    <p class="card-text">
                        这个人很懒，什么都没有留下。
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"  src="img/img-got702.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname" >精致的猪猪女孩<button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button></p><hr />
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">最近更新在<span class="updateTime">3小时</span>前</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"  src="img/img-got702.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname" >精致的猪猪女孩<button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button></p><hr />
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">最近更新在<span class="updateTime">3小时</span>前</small>
                </div>
            </div>

        </div>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="img/img-got702.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname">精致的猪猪女孩<button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button></p>
                    <hr />
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">最近更新在<span class="updateTime">3小时</span>前</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/img-got702.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname">精致的猪猪女孩<button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button></p>
                    <hr />
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">最近更新在<span class="updateTime">3小时</span>前</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="img/img-got702.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title nickname">精致的猪猪女孩<button type="button" class="btn btn-secondary btn-sm fllow_btn">已关注</button></p>
                    <hr />
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">最近更新在<span class="updateTime">3小时</span>前</small>
                </div>
            </div>

        </div>

    </div>
</div>