<!--话题-->
<div class="tab-pane" id="messages" style="background-color: white;">
    <div class="" id="topicPage">
        <ul class="nav nav-tabs" id="topicTab">
            <li class="active">
                <a data-toggle="tab" onclick="HotTopic();" class="btn btn-primary active" href="#hotTopic">最热</a>
            </li>
            <li>
                <a data-toggle="tab" onclick="NewTopic();" class="btn btn-primary" href="#newTopic">最新</a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#addTopic" class="push_topic">发起话题</a>
            </li>
        </ul>

        <div class="tab-content" id="topicContent">

            <div class="tab-pane active" id="hotTopic">

            </div>
            <div class="tab-pane" id="newTopic">


            </div>
        </div>
    </div>
</div>