<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doubles.dao.ArtilceTopicMapper" >
  <cache eviction="LRU" flushInterval="10800000"  size="512" readOnly="true" />
  <resultMap id="BaseResultMap" type="com.doubles.entity.ArtilceTopic" >
    <id column="at_id" property="atId" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="topic_id" property="topicId" jdbcType="VARCHAR" />
    <association property="topic" column="topic_id" select="com.doubles.dao.TopicMapper.selectByPrimaryKey"></association>
    <association property="article" column="article_id" select="com.doubles.dao.ArticleMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    at_id, article_id, topic_id
  </sql>

  <select id="getTopicListByArticleNumber" resultType="java.lang.String">
    select
    topic_id
    FROM artilce_topic
    group by topic_id order by count(*) desc
  </select>
  
  <select id="getArticleListByArticleId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from artilce_topic
    WHERE article_id = #{articleId}
  </select>
  <select id="getArticlePageByTopicId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from artilce_topic
    WHERE topic_id = #{topicId}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doubles.entity.ArtilceTopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from artilce_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from artilce_topic
    where at_id = #{atId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" flushCache="true">
    delete from artilce_topic
    where at_id = #{atId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.doubles.entity.ArtilceTopicExample" flushCache="true">
    delete from artilce_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doubles.entity.ArtilceTopic" flushCache="true">
    <selectKey keyProperty="atId" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into artilce_topic (at_id, article_id, topic_id
      )
    values (#{atId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{topicId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.doubles.entity.ArtilceTopic" flushCache="true">
    <selectKey keyProperty="atId" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into artilce_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atId != null" >
        at_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atId != null" >
        #{atId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doubles.entity.ArtilceTopicExample" resultType="java.lang.Integer" >
    select count(*) from artilce_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" flushCache="true">
    update artilce_topic
    <set >
      <if test="record.atId != null" >
        at_id = #{record.atId,jdbcType=VARCHAR},
      </if>
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=VARCHAR},
      </if>
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" flushCache="true">
    update artilce_topic
    set at_id = #{record.atId,jdbcType=VARCHAR},
      article_id = #{record.articleId,jdbcType=VARCHAR},
      topic_id = #{record.topicId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doubles.entity.ArtilceTopic" flushCache="true">
    update artilce_topic
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=VARCHAR},
      </if>
    </set>
    where at_id = #{atId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doubles.entity.ArtilceTopic" flushCache="true">
    update artilce_topic
    set article_id = #{articleId,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=VARCHAR}
    where at_id = #{atId,jdbcType=VARCHAR}
  </update>
</mapper>