<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doubles.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.doubles.entity.Topic" >
    <id column="topic_id" property="topicId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="descirbe" property="descirbe" jdbcType="VARCHAR" />
    <result column="fan_number" property="fanNumber" jdbcType="INTEGER" />
    <result column="discussion_number" property="discussionNumber" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    topic_id, title, descirbe, fan_number, discussion_number, create_time, update_time
  </sql>

  <select id="findPageByfansNum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic ORDER BY fan_number DESC
  </select>

  <select id="findPageByDisNum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic ORDER BY discussion_number DESC
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doubles.entity.TopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.doubles.entity.TopicExample" >
    delete from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doubles.entity.Topic" >
    insert into topic (topic_id, title, descirbe, 
      fan_number, discussion_number, create_time, 
      update_time)
    values (#{topicId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{descirbe,jdbcType=VARCHAR}, 
      #{fanNumber,jdbcType=INTEGER}, #{discussionNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.doubles.entity.Topic" >
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="descirbe != null" >
        descirbe,
      </if>
      <if test="fanNumber != null" >
        fan_number,
      </if>
      <if test="discussionNumber != null" >
        discussion_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="descirbe != null" >
        #{descirbe,jdbcType=VARCHAR},
      </if>
      <if test="fanNumber != null" >
        #{fanNumber,jdbcType=INTEGER},
      </if>
      <if test="discussionNumber != null" >
        #{discussionNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doubles.entity.TopicExample" resultType="java.lang.Integer" >
    select count(*) from topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update topic
    <set >
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.descirbe != null" >
        descirbe = #{record.descirbe,jdbcType=VARCHAR},
      </if>
      <if test="record.fanNumber != null" >
        fan_number = #{record.fanNumber,jdbcType=INTEGER},
      </if>
      <if test="record.discussionNumber != null" >
        discussion_number = #{record.discussionNumber,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update topic
    set topic_id = #{record.topicId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      descirbe = #{record.descirbe,jdbcType=VARCHAR},
      fan_number = #{record.fanNumber,jdbcType=INTEGER},
      discussion_number = #{record.discussionNumber,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doubles.entity.Topic" >
    update topic
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="descirbe != null" >
        descirbe = #{descirbe,jdbcType=VARCHAR},
      </if>
      <if test="fanNumber != null" >
        fan_number = #{fanNumber,jdbcType=INTEGER},
      </if>
      <if test="discussionNumber != null" >
        discussion_number = #{discussionNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doubles.entity.Topic" >
    update topic
    set title = #{title,jdbcType=VARCHAR},
      descirbe = #{descirbe,jdbcType=VARCHAR},
      fan_number = #{fanNumber,jdbcType=INTEGER},
      discussion_number = #{discussionNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
</mapper>