*{
	margin:0;
	padding:0;
}
img{
	display: block;
	border: 0;
}
.fave {
  width: 18px;
  height: 20px;
  background: url(../img/like.png) no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.fave.active {
  background-position: left;
  /* 主要在这一步 */
  transition: background .3s steps(10);
}

.like-number{
	float: left;
}

#innertopic{
	overflow: hidden;
	_zoom:1;
	width:80%;
	margin: 0 auto;
	margin-top: 2rem;
}
.contentleft{
	float:left;
	width:70%;
}
.contentleft .w{
	width:90%;
	margin: 0 auto;;
}
.contentleft .topic{
	margin-bottom: 1.5rem;
	border: 1px solid #ccc;
}
.contentleft .topic .top{
	border-bottom: 1px solid #ccc;
}
.contentleft .topic .top .w div{
	overflow: hidden;
	_zoom:1;
}
.contentleft .topic .top .w div h4{
	float: left;
	width:6.5rem;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
}
.contentleft .topic .top .w div p{
	margin-bottom: 0;
	line-height: 1rem;
	background: #bbb;
	float: left;
	margin-left: 1rem;
	padding: 0.5rem;
	cursor: pointer;
}
.contentleft .topic .middle{
	border-bottom: 1px solid #ccc;
}
.contentleft .topic .middle .w div{
	padding:1rem 0;
}
.contentleft .topic .middle .w div p{
	margin-bottom: 0;
	font-size: 0.8rem;
}
.contentleft .topic .middle .w div button{
	cursor: pointer;
}
.contentleft .topic .bottom .w div{
	padding:1rem 0;
}
.contentleft .topic .bottom .w div strong{
	padding:0 1rem;
	cursor: pointer;
}
.contentleft .others{
	margin-bottom: 1.5rem;
	border: 1px solid #ccc;
}
.contentleft .others .w .top{
	padding:1rem 0;
	overflow: hidden;
	_zoom:1;
}
.contentleft .others .w .top img{
	float:left;
	width:4rem;
	height: 4rem;
	border: 1px solid #ccc;
	margin-right: 1rem;
}
.contentleft .others .w .top p{
	float: left;
	color: #ccc;
	margin-right: 1rem;
}
.contentleft .others .w .top span{
	float: left;
	display: block;
	width:20px;
	height:20px;
	color:#fff;
	background: gray;
	cursor:pointer;
}
.contentleft .others .w .bottom{
	overflow: hidden;
	_zoom:1;
	margin-bottom: 1rem;
}
.contentleft .others .w a{
	text-decoration: none;
	font-size: 1rem;
	color: #333;
}
.contentleft .others .w .bottom div:first-of-type{
	float: left;
}
.contentleft .others .w .bottom div:nth-of-type(2){
	float: right;
}
.contentleft .others .w .bottom div span{
	margin-right: 1rem;
	color:#ccc;
	cursor: pointer;
	float: left;
}
.contentright{
	float:right;
	width:25%;
	border:1px solid #ccc;
}
.contentright ul{
	list-style: none;
	border:1px solid #ccc;
	margin-bottom: 0;
}
.contentright ul li{
	overflow: hidden;
	_zoom:1;
	padding:10px;
	border-bottom: 1px solid #eee;
	
}
.contentright ul li .peopleleft{
	float: left;
}
.contentright ul li .peopleleft div{
	float: left;
	margin-right:15px;
	border: 1px solid #ccc;
}
.contentright ul li .peopleleft div img{
	width:42px;
	height:42px;
}
.contentright ul li .peopleleft div p{
	margin-bottom: 0;
	line-height: 1rem;
}
.contentright ul li .peopleleft div span{
	color:#eee;
}
.contentright ul li .guanzhu{
	color:#fff;
	font-weight: 800;
	/*width:20px;*/
	/*height:20px;*/
	/*background: #ccc;*/
	float: right;
	margin-top: 5px;
}

/*以下是评论部分css*/
.my-opticrt{
	position: absolute;
	top: 38px;
	left: 50%;
	width: 19px;
	height: 12px;
	margin-left: -9px;
	overflow: hidden;
	opacity: 0;
	display: none\9;
	background-position: 0 -1222px;
}
.my-shadow{
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #f1f1f1;
	background: #e1e1e1;
	display: none;
}
.my-comment-ul{
	float: none;
	width: 100%;
}
#article-comment{
	display: none;
	background-color: #fafafa;
}
#comment-list ul li{
	background-color: #fafafa;
	padding: 0.5rem 1rem;
	font-size: 12px;
	color: #444;
}
#comment-list ul li a{
	color: #7594b3;
}
.user-comment:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.comment-content {
	/*position: absolute;*/
	/*top: 13px;*/
	/*left: 45px;*/
	float: left;
	width: 85%;
	margin-left: 1rem;
}
.btn-reply{
	position: absolute;
	top: 13px;
	right: 3rem;
}
.user-comment-text{
	width: 80%;
}
.comment-img{
	float: left;
}