*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
	border: 0;
	cursor: pointer;
}

#tongzhi,#private,#talk{
	border: 1px solid #ccc;
	width: 60%;
	margin: 1.5rem auto;

}
.name,.topic{
	color: #64a131;
}
.top{
	overflow: hidden;
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}
.top h3{
	float: left;
}
.top strong{
	float: right;
	margin-top: 0.5rem;
	margin-right: 1rem;
	color: #ccc;
	cursor: pointer;
}

#tongzhi .bottom{
	width: 90%;
	margin: 1rem auto;
}
.date{
	width: 100%;
	background:gainsboro;
	padding-left: 1rem;
	line-height: 2.5rem;
}
.message{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	position: relative;
}
.message .left{
	float: left;
}
.message .left img{
	float: left;
	width: 2rem;
	height: 2rem;
	border: 1px solid #ccc;
	margin-right: 1rem;
}
.message .left span{
	float: left;
	margin-right: 0.5rem;
}
.message .right{
	float: right;
}
.message .right img{
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid #ccc;
	float: right;
}
.message .right span{
	float: right;
	margin-right: 1rem;
	color: #ccc;
	cursor: pointer;
}
.message .repeat{
	position: absolute;
	top: 3rem;
	display: none;
	margin-top: 1rem;
}
.message .repeat button{
	background: green;
	color: #fff;
	border: 0;
	padding: 0.5rem 2rem;
	cursor: pointer;
}
.day{
	margin-bottom: 1rem;
}
.day .message:last-of-type{
	border-bottom: 0;
}
.page{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
#private .bottom ul{
	list-style: none;
	margin-bottom: 2rem;
}
#private .bottom ul li{
	padding: 1rem;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
#private .bottom ul li:hover{
	cursor: pointer;
	background-color: #eee;
}
#private .bottom ul li .left{
	float: left;
}
#private .bottom ul li .left img{
	float: left;
	margin-right: 1rem;
	width: 4.5rem;
	height: 4.5rem;
	border: 1px solid #ccc;
}
#private .bottom ul li .left div{
	float: left;
}
#private .bottom ul li .left div p{
	margin-bottom: 0;
}
#private .bottom ul li .left div p:nth-of-type(1),#private .bottom ul li .left div p:nth-of-type(3){
	color: #ccc;
}
#private .bottom ul li .right{
	float: right;
}
#private .bottom ul li span{
	color: #ccc;
}
#talk .bottom{
	padding: 1.5rem;
}
#talk .bottom .chat{
	overflow: hidden;
}
#talk .bottom .chat img{
	float: right;
	width: 4rem;
	height: 4.5rem;
	border: 1px solid #ccc;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
}
#talk .bottom .chat .chatarea{
	float: right;
}
#talk .bottom .chat .chatarea textarea{
	float: right;
	clear: both;
	border: 1px solid #ccc;
}
#talk .bottom .chat button{
	float: right;
	clear: both;
	margin-top: 1rem;
	background: green;
	color: #fff;
	border: 0;
	padding: 0.5rem 2rem;
	cursor: pointer;
}
.community{
	overflow: hidden;
	margin-top: 1rem;
}
.friend{
	float: left;
	margin-bottom: 1rem;
}
.friend img{
	float: left;
	width: 4rem;
	height: 4.5rem;
	border: 1px solid #ccc;
	margin-right: 1.5rem;
}
.friend div{
	float: left;
	width: 36rem;
	min-height: 4.5rem;
	border: 1px solid #ddd;
	padding: 0.8rem;
}
.community p{
	margin-bottom: 0;
}
.community span{
	color: #ccc;
}
.mine{
	float: right;
	margin-bottom: 1rem;
}
.mine img{
	float: right;
	width: 4rem;
	height: 4.5rem;
	border: 1px solid #ccc;
	margin-left: 1.5rem;
}
.mine div{
	float: right;
	width: 36rem;
	min-height: 4.5rem;
	border: 1px solid #ddd;
	padding: 0.8rem;
}
.mine div p{
	width: 100%;
	text-align: right;
}
.mine div p,.mine div span{
	float: right;
}
.frimess:hover{
	background-color: #eee;
}

.repeat{
	width: 100%;
}
#repeatTxt{
	overflow: visible;
	width: 80%;
	height: 30px;
}
#repeat_btn{
	
	font-size: 12px;
	margin-left: 12px;
}
.nav_t{
	margin-top: 60px;
}
