<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>动态详情</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/homepage.css" />
		<link rel="stylesheet" type="text/css" href="/css/tip.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="pmark">
				<input type="hidden" name="hp_articleId" id="hp_articleId" value="${article.articleId}" />
				@if(isLike == 0){ @}
					<button type="button" class="btn btn-secondary like">已喜欢</button>
				@}else{ @}
					<button type="button" class="btn btn-secondary like">喜欢</button>
				@} @}
				@ if(session.user.userId != article.user.userId){ @}
					@if(isTransmit == 0){ @}
						<button type="button" class="btn btn-secondary reprinted transmit">已转载</button>
				@}else{ @}
						<button type="button" class="btn btn-secondary reprinted transmit">转载</button>
				@} @}
				@if(isFriend == 0){ @}
					<button type="button" class="btn btn-secondary fllow_btn friend_btn">已关注</button>

					@}else if(isFriend == 1){ @}
					<button type="button" class="btn btn-secondary fllow_btn friend_btn">关注</button>
					@}else if(isFriend == 2){ @}
					<button type="button" class="btn btn-secondary fllow_btn friend_btn">相互关注</button>
					@} @}
				<input type="hidden" name="friendId" value="${article.user.userId}">
				@ } @}
				<button type="button" class="btn btn-secondary back_btn">返回首页</button>
			</div>
			<div class="content">
				<div class="left">
					<div class="days">
						10
					</div>
					<div class="moths">
						03
					</div>
				</div>
				<div class="right">
					<div class="card article-card">
						<div class="article-link">
							<div class="card-body">
								<!--<div class="card-img">-->
									<!--<img src="img/wy1.jpg" />-->
									<!--<img src="img/wy2.jpg" />-->
								<!--</div>-->
								<div class="card-text">${article.content}</div>
								<hr />
								<div class="little-tag">
									@for(tag in article.artilceTopics){ @}
										@if(!tagLP.last){ @}
											<a href="../${tag.topicId}">#${tag.topic.title}</a>,
										@}else{ @}
											<a href="../${tag.topicId}">#${tag.topic.title}</a>
										@ }@}

									@  }@}
								</div>
								<div class="little-tip">
									@
										var length = 0;
										for(c in article.commentsList){
											length = cLP.size;
											break;
										}
									@}
									<ul>
										<li>
											<a href="javascript:void(0);" onclick="subComment(this)">评论(<small>${length}</small>)</a>
										</li>
										<li>
											<a href="#a">热度(<small>${article.collectNumber}</small>)</a>
										</li>
										<li><span class="article-time">${article.createTime,dateFormat="yyyy-MM-dd hh:mm:ss"}</span></li>
									</ul>
			
								</div>
			
								<div class="cut"></div>

								<div id="article-comment">
									<form class="mt-3 ">
										<div id="a">评论(<small>${length}</small>)</div>
										<div class="row">
											<div class="col col-lg-12 ">
												<input type="text" id="reply-input" class="form-control" placeholder="评论">
											</div>
											<div class="col col-lg_12 ">
												<button type="button" id="btn-reply-input" class="btn btn-secondary " onclick="addArticleComment(this)">提交</button>
												<input value="${article.user.userId}" type="hidden" name="toUser" />
												<input value="${article.articleId}" type="hidden" name="objectId" />
											</div>
										</div>
									</form>
									@ if(length != 0){ @}
									<div id="comment-list">
										<ul class="list-group my-comment-ul list-group-flush">
											@for(comment in article.commentsList){ @}
											@if(comment.type == 0){ @}
											<li class="list-group-item">
												<div class="user-comment">
													<div class="user-comment-img comment-img">
														<img src="${comment.user.userimg}" width="20px" height="20px" />
			
													</div>
													<div class="comment-content">
														<input name="userid" value="${comment.user.userId}" type="hidden">
														<div class="">
															<a href="../user/${comment.user.userId}">${comment.user.nickname}</a>
															${comment.commentContent}
														</div>
			
													</div>
													<div class="btn-reply">
														<a href="javascript:void(0);" onclick="reply(this)">回复</a>
														<input type="hidden" value="${comment.user.userId}" name="replyTo"/>
													</div>
												</div>
											</li>
											@}else{@}
											<li class="list-group-item">
												<div class="user-comment">
													<div class="user-comment-img comment-img">
														<img src="img/img-got701.jpg" width="20px" height="20px" />
													</div>
													<div class="comment-content">
														<input name="userid" value="${comment.user.userId}" type="hidden">
														<div>
															<a href="../user/${comment.user.userId}">
																${comment.user.nickname}</a>&nbsp回复&nbsp
															<a href="../user/${comment.to.userId}">${comment.to.nickname}</a>
															${comment.commentContent}
														</div>
													</div>
													<div class="btn-reply">
														<a href="javascript:void(0);" onclick="reply(this)">回复</a>
														<input type="hidden" value="${comment.user.userId}" name="replyTo"/>
													</div>
												</div>
											</li>
											@}@}
											@}@}
										</ul>
									</div>
								</div>
								<div class="cut"></div>
								@}@}
								@ if(!isEmpty(collectionsList)){ @}
								<div id="a">热度(<small>${article.collectNumber}</small>)</div>
								<div id="comment-list-like">
									<ul class="list-group my-comment-ul list-group-flush">
										@for(collection in collectionsList) { @}
										<li class="list-group-item">
											<div class="user-comment">
												<div class="user-comment-img comment-img">
													<img src="${collection.user.userimg}" width="20px" height="20px" />
								
												</div>
												<div class="comment-content">
													<input name="user_id" value="id" type="hidden">
													<div class="">
														<a href="${collection.user.userId}">${collection.user.nickname}</a>
														喜欢了了此图片
													</div>
								
												</div>
											</div>
										</li>
										@}@}
									</ul>
								</div>
								@}@}
							</div>
						</div>
			
					</div>
				</div>
				<!--<nav aria-label="Page navigation example">-->
					<ul class="pagination">
						@ if(!isEmpty(pre)){
						@}
						<li class="page-item ">
							<a class="page-link disabled" style="margin-left: 9rem;margin-right: 23rem;text-align: center;background-color: #DBDBDB;" href="../article/getArticle?articleId=${pre.articleId}" aria-label="Previous">
								上一篇
							</a>
						</li>
						@ }else{ @}
						<li class="page-item ">
							<a class="page-link disabled" style="margin-left: 9rem;margin-right: 23rem;text-align: center;background-color: #DBDBDB;" href="javascript:void(0);" aria-label="Previous">
								上一篇
							</a>
						</li>

						@} @}
						@ if(!isEmpty(next)){
						@}
						<li class="page-item " >
							<a class="page-link" style="background-color: #DBDBDB;" href="../article/getArticle?articleId=${next.articleId}" aria-label="Next">
								下一篇
							</a>
						</li>
						@ }else{ @}
						<li class="page-item " >
							<a class="page-link" style="background-color: #DBDBDB;" href="javascript:void(0);" aria-label="Next">
								下一篇
							</a>
						</li>
						@} @}
					</ul>
				<!--</nav>-->
			</div>

		</div>

		<div id="tip">

		</div>
	</body>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://cdn-hangzhou.goeasy.io/goeasy.js​"></script>
	<!--该页面的js-->
	<script type="text/javascript" src="/js/homepage.js"></script>
	<!--接收推送消息的js-->
	<script type="text/javascript" src="/js/subscribe.js"></script>
	<!--关注专用js-->
	<script type="text/javascript" src="/js/follow_user.js"></script>
</html>
