<!DOCTYPE html>
<html>
@
layout("/common/index-head.html",{title:'index'}){}
@}
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-lg-12" id="myTop"></div>
	</div>
	<div class="container-fluid" id="myCon">
		<div class="row">

			@
				layout("/index/index-left.html"){}
			@}
			<div class="col-lg-8 col-md-8" id="myRight">
				<ul class="nav nav-tabs" id="myTabR">
					<li class="active">
						<a data-toggle="tab" class="btn btn-primary" href="#home"><i class="iconfont icon-shouye"></i> 首页</a>
					</li>

					<li>
						<a data-toggle="tab" class="btn btn-primary" href="#messages"><i class="iconfont icon-huati"></i> 话题</a>
					</li>
					<li>
						<a data-toggle="tab" class="btn btn-primary" href="#settings"><i class="iconfont icon-daren1"></i> 达人</a>
					</li>
					<li><input type="search" class="search_text"/></li>
					<li><button type="button" class="btn btn-primary btn-sm search_btn">搜索</button></li>
				</ul>

				<div class="tab-content my-content" id="mainContent">
					@
					include("/index/index-home.html"){};
					include("/index/index-profile.html"){};
					include("/index/index-message.html"){};
					include("/index/index-settings.html"){};
					include("/index/index-fans.html"){};
					include("/index/index-article.html"){};
					include("/index/index-like.html"){};
					include("/index/index-fllow.html"){};
					include("/index/index-msg.html"){};
					@}
	 			</div>
		</div>
	</div>
	<div class="tab-content" id="leftContent">
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
	</div>
@
	include("/common/index-footer.html"){}
	@}
</div>
</div>
</body>
</html>