<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>某某话题</title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/innertopic.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div id="innertopic">
				<div class="contentleft">
					<div class="topic">
						<div class="top">
							<div class="w">
								<div style="padding:1rem 0;">
									<h4>最美的风景</h4>
									<p>+订阅</p>
								</div>
							</div>
						</div>
						<div class="middle">
							<div class="w">
								<div>
									<p>你说把爱渐渐放下会走根源哈哈哈哈哈哈哈哈哈哈哈哈案发的说法发哈事件的看法和垃圾和发动机啊回复打卡，又何必去哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈白粉丝卡里的后方可；阿訇地方；啊回复看到啦</p>
								</div>
								<div>
									<p>参与量:<span>7072</span></p>
								</div>
								<div>
									<button type="button">参与话题</button>
								</div>
							</div>
						</div>
						<div class="bottom">
							<div class="w">
								<div><strong>最新</strong><strong>热门</strong></div>
							</div>
						</div>
					</div>
					<div class="others">
						<div class="w">
							<div class="top">
								<img src="" alt="" /><p>kdfha15</p><span>+</span>
							</div>
							<div class="middle">
								<p>去年中秋从香格里拉返回丽江的途中 月亮升起来了 下车爬上一个山坡第一次尝试单反拍月亮 
升太快 胡乱调了三参数 手持拍摄按下快门</p>
							</div>
							<div class="bottom">
								<div><span>最美的风景在路上</span><span>摄影</span></div>
								<div><span>热度<i>(2)</i></span><span>评论</span><span>喜欢</span></div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="contentright">
					<ul>
						<li>
							<div class="peopleleft">
								<div>
									<img src="" alt="" />
								</div>
								<div>
									<p>hahah</p>
									<span>yonghu</span>
								</div>
							</div>
							<div class="guanzhu">+</div>
						</li>
						<li>
							<div class="peopleleft">
								<div>
									<img src="" alt="" />
								</div>
								<div>
									<p>hahah</p>
									<span>yonghu</span>
								</div>
							</div>
							<div class="guanzhu">+</div>
						</li>
						<li>
							<div class="peopleleft">
								<div>
									<img src="" alt="" />
								</div>
								<div>
									<p>hahah</p>
									<span>yonghu</span>
								</div>
							</div>
							<div class="guanzhu">+</div>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</body>
</html>
