<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>话题-${topic.title}</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/innertopic.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div id="innertopic">
				<div class="contentleft">
					<div class="topic">
						<div class="top">
							<div class="w">
								<div style="padding:1rem 0;">
									<h4>${topic.title}</h4>
                                    <input type="hidden" name="topicId" id="topicId" value="${topic.topicId}"/>
                                    @if(subscribe){ @}
                                        <button type="button" class="btn btn-info btn-sm" id="subscribeTopic">已订阅</button>
                                    @}else{ @}
                                        <button type="button" class="btn btn-info btn-sm" id="subscribeTopic">订阅</button>
                                    @ } @}
                                </div>
							</div>
						</div>
						<div class="middle">
							<div class="w">
								<div>
									<p>${topic.descirbe}</p>
								</div>
								<div>
									<p>参与量:<span>${topic.discussionNumber}</span></p>
								</div>
								<div>
									<button type="button" data-toggle="modal" data-target="#showArticle">参与话题</button>
								</div>
							</div>
						</div>
<!-- 						<div class="bottom">
							<div class="w">
								<div><strong>最新</strong><strong>热门</strong></div>
							</div>
						</div> -->
					</div>
                    @
                        var regex = "<img[^<>]*?\\ssrc=['\"]?(.*?)['\"].*?>";
                    @}
                    @ for(article in articleList){@}
					<div class="others">
                        @
                        var text = article.article.content;

                        var src = reg.find(text,regex);

                        text = reg.replace(text,regex,"");
                        @}
                        <div class="w">
							<div class="top">
                                <a href="${basePath}/article/getMyArticle?userId=${article.article.user.userId}">
                                    <img src="${article.article.user.userimg}" alt="" /></a>
                                <a href="${basePath}/article/getMyArticle?userId=${article.article.user.userId}">
                                    <p>${article.article.user.nickname}</p>
                                </a>
                                @if(article.isFollow == 0){ @}
                                    <button type="button" class="btn btn-info btn-sm friend_btn">已关注</button>
                                    <input type="hidden" name="friendId" value="${article.article.user.userId}" />
                                @} else if(article.isFollow == 1){ @}
                                    <button type="button" class="btn btn-info btn-sm friend_btn">关注</button>
                                    <input type="hidden" name="friendId" value="${article.article.user.userId}" />
                                @} else if(article.isFollow == 2){ @}
                                    <button type="button" class="btn btn-info btn-sm friend_btn">相互关注</button>
                                    <input type="hidden" name="friendId" value="${article.article.user.userId}" />
                                @} @}
							</div>
							<div class="middle">
								<a href="${basePath}/article/getArticle?articleId=${article.article.articleId}"><p>${article.article.content}</p></a>
							</div>
							<div class="bottom">
								<div>
                                    @ for(t in article.article.artilceTopics){ @}
                                    <a href="${basePath}/topic/gettopic/${t.topic.topicId}"><span>#${t.topic.title}</span></a>
									@ } @}
								</div>
								<div>
									<span>热度<i>(${article.article.collectNumber})</i></span>
									<span onclick="subComment(this)">评论</span>
                                    
                                    <span >
                                        @if(article.isLike){ @}
                                        <div  class="fave active"></div>
                                        <input type="hidden" name="articleId" value="${article.article.articleId}" />
                                        <i>${article.article.collectNumber}</i>
                                        @}else{ @}
                                        <div  class="fave "></div>
                                        <input type="hidden" name="articleId" value="${article.article.articleId}" />
                                        <i>${article.article.collectNumber}</i>
                                        @} @}
                                    </span>
								</div>
							</div>
							             <div class="my-shadow"></div>
                            <div id="article-comment" class="mt-3">
                            <form class="mt-3 ">
                                <div class="row">
                                    <div class="col-7 col-lg-9 col-sm-7 mb-3">
                                        <input type="text" class="form-control reply-input" placeholder="发表评论">

                                    </div>
                                    <div class="col col-lg col-sm">
                                        <button type="button" class="btn btn-primary " id="btn-reply-input" onclick="addArticleComment(this)">发表评论</button>
                                        <input value="${article.article.user.userId}" type="hidden" name="toUser" />
                                        <input value="${article.article.articleId}" type="hidden" name="objectId" />
                                    </div>
                                </div>
                            </form>
                            <div id="comment-list">
                                <ul class="list-group my-comment-ul list-group-flush">
                                    @for(comment in article.article.commentsList){ @}
                                    @if(comment.type == 0){ @}
                                    <li class="list-group-item">
                                            <div class="user-comment">
                                                <div class="user-comment-img comment-img">
                                                    <img src="${comment.user.userimg}" width="20px" height="20px" />
                                                </div>
                                                <div class="comment-content user-comment-text ">
                                                    <input name="userid" value="${comment.user.userId}" type="hidden">
                                                    <div class=""><a href="${basePath}/article/getMyArticle?userId=${comment.user.userId}">
                                                        ${comment.user.nickname}</a>
                                                        ${comment.commentContent}
                                                    </div>
                                                </div>
                                                <div class="btn-reply">
                                                    <a href="javascript:void(0);" onclick="reply(this)">回复</a>
                                                    <input type="hidden" value="${comment.user.userId}" name="replyTo"/>
                                                </div>
                                            </div>
                                        </li>
                                    @}else{ @}
                                        <li class="list-group-item">
                                            <div class="user-comment">
                                                <div class="user-comment-img comment-img">
                                                    <img src="${comment.user.userimg}" width="20px" height="20px" />
                                                </div>
                                                <div class="comment-content  user-comment-text">
                                                    <input name="userid" value="${comment.user.userId}" type="hidden">
                                                    <div >
                                                        <a href="/article/getMyArticle?userId=${comment.user.userId}">
                                                            ${comment.user.nickname}</a>
                                                        &nbsp回复&nbsp<a href="${basePath}/article/getMyArticle?userId=${comment.to.userId}">
                                                        ${comment.to.nickname}</a>
                                                        ${comment.commentContent}
                                                    </div>
                                                </div>
                                                <div class="btn-reply">
                                                    <a href="javascript:void(0);" onclick="reply(this)">回复</a>
                                                    <input type="hidden" value="${comment.user.userId}" name="replyTo"/>
                                                </div>
                                            </div>
                                        </li>
                                    @} @}
                                    @} @}
                                </ul>
                            </div>
                            </div>
						</div>


                    </div>
                    @} @}
				</div>
				<div class="contentright">
					<ul>
                        <li><strong>活跃用户</strong></li>
                        @for(user in userList){ @}
						<li>
							<div class="peopleleft">
								<div>
                                    <a href="${basePath}/article/getMyArticle?userId=${user.user.userId}"><img src="${user.user.userimg}" alt="${user.user.nickname}" /></a>
								</div>
								<div>
                                    <a href="${basePath}/article/getMyArticle?userId=${user.user.userId}"><p>${user.user.nickname}</p></a>
									<!--<span>yonghu</span>-->
								</div>
							</div>
                            @if(user.isFollow == 0){ @}
                            <button type="button" class="btn btn-info btn-sm friend_btn">已关注</button>
                            <input type="hidden" name="friendId" value="${user.user.userId}">
                            @} else if(user.isFollow == 1){ @}
                            <button type="button" class="btn btn-info btn-sm friend_btn">关注</button>
                            <input type="hidden" name="friendId" value="${user.user.userId}">
                            @} else if(user.isFollow == 2){ @}
                            <button type="button" class="btn btn-info btn-sm friend_btn">相互关注</button>
                            <input type="hidden" name="friendId" value="${user.user.userId}">
                            @} @}
						</li>
                        @} @}
					</ul>
				</div>
			</div>
		</div>
<!-- Modal -->
<div class="modal fade" id="showArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">参与话题</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="clearContent()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="my-editor">
                    <div id="div1" class="toolbar" >
                    </div>
                    <div id="div2" class="text" > <!--可使用 min-height 实现编辑区域自动增加高度-->

                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <button type="button" onclick="clearContent()" class="btn btn-primary btn-sm " >清空</button>
                            <button type="button" id="sub-article" class="btn btn-primary btn-sm " >发布</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
	</body>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/exif.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wangEditor.min.css">
    <script src="/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
    <script type="text/javascript" src="/js/qiniu.js"></script>

	<script src="/js/innertopic.js"></script>

</html>
