<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>完善个人信息</title>
    <link rel="stylesheet" href="${basePath}/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="${basePath}/static/css/register.css"/>

<body>
<div class="container-fluid" id="interestPage">
    <div class="container" id="main">
        <div id="mainContent">
            <h2>选择一些你喜欢的兴趣 <br/>
                <small>我们将努力推荐你可能更感兴趣的内容</small>
            </h2>
            <div class="btn-group btn-group-lg" data-toggle="buttons" id="btnGroup">
                <label class="btn btn-primary">
                    <input type="checkbox" name="userlike" autocomplete="off"> 摄影</span>
                </label>
                <label class="btn btn-warning">
                    <input type="checkbox" name="userlike" autocomplete="off"> 运动
                </label>
                <label class="btn btn-danger">
                    <input type="checkbox" name="userlike" autocomplete="off"> 萌宠
                </label>
                <br />
                <label class="btn btn-info ">
                    <input type="checkbox" name="userlike" autocomplete="off"> 男神
                </label>
                <label class="btn btn-danger">
                    <input type="checkbox" name="userlike" autocomplete="off"> 女神
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="userlike" autocomplete="off"> 绘画
                </label>
                <br />
                <label class="btn btn-info">
                    <input type="checkbox" name="userlike" autocomplete="off"> 电影
                </label>
                <label class="btn btn-warning">
                    <input type="checkbox" name="userlike" autocomplete="off"> 音乐
                </label>
                <label class="btn btn-success ">
                    <input type="checkbox" name="userlike" autocomplete="off"> 美食
                </label>
                <br />
                <label class="btn btn-success">
                    <input type="checkbox" name="userlike" autocomplete="off"> 美妆
                </label>
                <label class="btn btn-danger">
                    <input type="checkbox" name="userlike" autocomplete="off"> 穿搭
                </label>
                <label class="btn btn-info ">
                    <input type="checkbox" name="userlike" autocomplete="off"> 旅行
                </label>
            </div>
            <h4 style="padding-top: 20px;">-------即刻开启你的<a href="#"><strong>doubleS</strong></a>之旅</h4>
            <div class="panel-footer" style="background-color: white;margin-top: 30px;">
                版权归个人所有----------Chongqin Scien and technology Univer<br/>
                2018-04-27
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="${basePath}/static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bootstrap.min.js"></script>
</html>
