<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<style>
			#mytest1{
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="container" id="mmytest1">
			<h1> 王嘉尔<small>Jackson Wang</small> </h1>
			<h2>Jackson Wang</h2>
			<h3>Jackson Wang</h3>
			<h4>Jackson Wang </h4>
			<p> 黄应付我就饿了人家哦隆福寺饿哦发<mark>标注</mark>世界<abbr title="attribute">缩略的天河分局</abbr>哦</p>
			<p class="lead"> 计费哦佛寺恩及覅饿哦粉丝饿哦放假饿哦i</p>
			
			<p class="text-left">hello world居左</p>
			<p class="text-right">hello world居右</p>
			<p class="text-center">hello world居中</p>
			<p class="text-lowercase">Understanded</p>
			<p class="text-uppercase">yes,I know</p>
			<p class="text-capitalize">no,I do not know</p>
			
			<address>
				<strong> Panda有限公司</strong><br />
				开始的减肥
			</address>
			
		</div>
	</body>
</html>
