<div class="bottom" id="tongzhi1">


    <!--<div class="day">-->
        <!--<div class="date">-->
            <!--<h5>4月22日</h5>-->
        <!--</div>-->
        <!--<div class="message">-->
            <!--<div class="left">-->
                <!--<img src="img/1130596.jpg" alt="">-->
                <!--<span class="name">我有一头没毛驴</span>-->
                <!--<span>发起了</span>-->
                <!--<span class="topic">话题：<span>风声</span></span>-->
            <!--</div>-->
            <!--<div class="right">-->
                <!--<img src="img/1212741.jpg" alt="">-->
                <!--<span class="hui">回复</span>-->
            <!--</div>-->
            <!--<div class="repeat">-->
                <!--<input type="text" >-->
                <!--<button type="button">回复</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="page">-->
        <!--<a href="##">上一页</a>-->
        <!--<span>1/1</span>-->
        <!--<a href="##">下一页</a>-->
    <!--</div>-->
</div>
                    