<!--私信列表-->
<div id="private" style="width: 90%; border: 0px;">
    <div class="top">
        <h3><span>7.</span>的私信</h3>
    </div>
    <div class="bottom">
        <ul>
            <li>
                <div class="left">
                    <img src="img/1206290.jpg" alt="">
                    <div>
                        <a href="homepage.html">来自妈妈</a>
                        <p>谢谢</p>
                        <p>2018-05-13 <span>14:12</span></p>
                    </div>
                </div>
                <span class="right" onclick="showChat(this)">共<span>2</span>条对话</span>
            </li>
            <li>
                <div class="left">
                    <img src="img/1212741.jpg" alt="">
                    <div>
                        <p><a href="homepage.html">来自我有一头没毛驴</a></p>
                        <p>你好吗？</p>
                        <p>2018-05-13 <span>14:12</span></p>
                    </div>
                </div>
                <span class="right" id="talk_count" onclick="showChat(this)">共<span>2</span>条对话</span>
            </li>
        </ul>
    </div>
    <div class="page">
        <a href="##">上一页</a>
        <span>1/1</span>
        <a href="##">下一页</a>
    </div>
</div>
