<!--私信内容-->
<div id="talk">
    <div class="top">
        <h3>与<span>签字妈妈</span>的私信对话</h3>
        <strong id="backToPrivateList">返回私信列表</strong>
    </div>
    <div class="bottom">
        <div class="chat">
            <img src="" alt="">
            <div class="chatarea">
                <span style="float:right;">你还可以输入500字</span>
                <textarea name="" id="" cols="69" rows="3"></textarea>
                <input type="hidden" name="touserId" value="">
                <button>发送</button>
            </div>
        </div>
        <div class="community">
            <div class="friend">
                <img src="" alt="">
                <div class="frimess">
                    <p>xiexie</p>
                    <span>2018-05-13 14:12</span>
                </div>
            </div>
            <div class="mine">
                <img src="" alt="">
                <div class="frimess">
                    <p>xiexie</p>
                    <span>2018-05-13 14:12</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <a href="##">上一页</a>
        <span>1/1</span>
        <a href="##">下一页</a>
    </div>
</div>
